<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hotel</title>
    <div th:replace="shared/header :: header-css"/>
</head>
<body>

<div th:replace="shared/header :: header('yourReservationList')"/>
<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-2 sidenav">
            <p></p>
            <div sec:authorize="hasRole('ADMIN')">
                <a class="btn btn-success" href="/addUser">Додати користувача</a>
            </div>
            <br>
            <div sec:authorize="hasRole('ADMIN')">
                <a class="btn btn-success" href="reservationFormADM.html">Додати бронювання</a>
            </div>

            <div sec:authorize="hasRole('USER')">
                <a class="btn btn-success" href="reservationFormUSR.html">Забронювати кімнату</a>

            </div>
        </div>
        <div class="col-sm-8 text-left">



            <div th:if="${roomReservationListPage.hasContent() eq false}">
                <span>Бронювання немає</span>
            </div>
            <div th:if="${roomReservationListPage.hasContent() eq true}">

                База включає [[${roomReservationListPage.totalElements}]] бронювання
            </span>

            </div>


            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Номер кімнати</th>
                    <th>Параметри</th>
                    <th>Початок бронювання</th>

                    <th>Кінець бронювання</th>
                    <th>Ckeck-in</th>
                    <th>Check-out</th>
                    <th>Кількість людей</th>
                    <th>Ціна </th>
                    <th>Оплата</th>
                    <th>Статус</th>


                </tr>
                </thead>
                <tbody>
                <tr th:each="roomReservation : ${roomReservationListPage.content}">

                    <td>
                        <a  th:href="@{/reservationList.html(rid=${roomReservation.room.id})}">[[${roomReservation.room.roomNumber}]]</a>

                    </td>

                    <td style="align-content: center">
                        <span th:if="${roomReservation.reservationStartDate.after(#dates.createNow())}">
                        <a class="btn btn-danger" sec:authorize="isAuthenticated()" th:href="@{/reservationList.html(id=${roomReservation.id})}">Скасуйте бронювання</a>
                        </span>
                        <span th:if="${roomReservation.reservationStartDate.after(#dates.createNow())}">
                            <a class="btn btn-success" th:href="@{/reservationFormUSR.html(id=${roomReservation.id})}">Змініть своє бронювання</a>
                        </span>
                        <span th:if="${roomReservation.reservationEndDate.before(#dates.createNow())}">
                            Бронювання застаріло
                        </span>
                        <span th:if="${roomReservation.reservationEndDate.after(#dates.createNow()) and roomReservation.reservationStartDate.before(#dates.createNow())}">
                            Бронювання триває
                        </span>
                    </td>
                    <td>
                        <span  th:text="${#dates.format(roomReservation.reservationStartDate, 'dd-MM-yyyy')}"></span>
                    </td>
                    <td>
                        <span th:text="${#dates.format(roomReservation.reservationEndDate, 'dd-MM-yyyy')}"></span>

                    </td>
                    <td>
                        <span th:text="${#dates.format(roomReservation.checkInDate, 'dd-MM-yyyy')}"></span>

                    </td>
                    <td>
                        <span th:text="${#dates.format(roomReservation.checkOutDate, 'dd-MM-yyyy')}"></span>

                    </td>
                    <td>
                        <span > [[${roomReservation.numberOfPeople}]]</span>
                    </td>
                    <td>
                        <span > [[${roomReservation.endPrice}]]</span>
                    </td>
                    <td>
                        <div th:if="${roomReservation.paid eq true}">
                            <span > Сплачено</span>
                        </div>
                        <div th:if="${roomReservation.paid eq false}">
                            <span >Не сплачено</span>
                        </div>
                    </td>
                    <td>
                        <div th:if="${roomReservation.verified eq true}">
                            <span > Підтверджено</span>
                        </div>
                        <div th:if="${roomReservation.verified eq false}">
                            <span >Не підтверджено</span>
                        </div>
                    </td>



                </tr>

                </tbody>
            </table>
            <div th:replace="shared/pagination :: pager(reservationList.html, ${roomReservationListPage})"></div>



        </div>
        <div class="col-sm-2 sidenav">
            <div class="well">
                <label style="color:darkred; margin-top: 20px;" sec:authorize="isAuthenticated()">
                    Вітаю, <span sec:authentication="name"/>!
                </label>
            </div>
            <div class="well">
                <a sec:authorize="isAuthenticated()" class="btn btn-success" href="accountDetails.html">Ваш рахунок</a>

            </div>
        </div>
    </div>
</div>




</body>
</html>




<!--<!DOCTYPE html>-->
<!--<html xmlns="http://www.w3.org/1999/xhtml"-->
<!--      xmlns:th="http://www.thymeleaf.org"-->
<!--      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Hotel</title>-->
<!--    <div th:replace="shared/header :: header-css"/>-->
<!--</head>-->
<!--<body>-->

<!--<div th:replace="shared/header :: header('userList')"/>-->
<!--<div class="container-fluid text-center">-->
<!--    <div class="row content">-->
<!--        <div class="col-sm-2 sidenav">-->

<!--            <p></p>-->
<!--            <div sec:authorize="hasRole('ADMIN')">-->
<!--                <a class="btn btn-success" href="/addUser">Додати користувача</a>-->
<!--            </div>-->
<!--            <br>-->
<!--            <div sec:authorize="hasRole('ADMIN')">-->
<!--                <a class="btn btn-success" href="reservationFormADM.html">Додати бронювання</a>-->
<!--            </div>-->

<!--            <div sec:authorize="hasRole('USER')">-->
<!--                <a class="btn btn-success" href="reservationFormUSR.html">Забронювати кімнату</a>-->

<!--            </div>-->

<!--        </div>-->

<!--        <div class="col-sm-8 text-left">-->

<!--            <form th:method="POST" th:action="@{userList.html}" th:object="${searchCommand}">-->
<!--                <div class="row">-->
<!--                    <div class="form-group col-md-6">-->
<!--                        <input th:field="*{phrase}" placeholder="ім'я/прізвище/логін/пошта/номер телефону" class="form-control"-->
<!--                               th:classappend="${#fields.hasErrors('phrase')}?'is-invalid'"/>-->
<!--                        <div class="error text-danger" th:if="${#fields.hasErrors('phrase')}">-->
<!--                            <p th:each="err : ${#fields.errors('phrase')}" th:text="${err}"></p>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    <div class="form-group col-md-3">-->


<!--                    </div>-->
<!--                    <div class="form-group col-md-3">-->

<!--                    </div>-->


<!--                </div>-->
<!--                <div class="row">-->

<!--                    <div class="form-group col-md-8"></div>-->

<!--                    <div class="form-group col-md-2">-->
<!--                        <a th:if="${searchCommand.isEmpty() eq false or #fields.hasErrors('*')}" th:href="@{reservationList.html(all)}" class="btn btn-success">-->
<!--                            <span class="glyphicon glyphicon-refresh"></span> Покажи все-->
<!--                        </a>-->
<!--                    </div>-->

<!--                    <div class="form-group col-md-2">-->
<!--                        <button type="submit" class="btn btn-info">-->
<!--                            <span class="glyphicon glyphicon-search"></span> пошук-->
<!--                        </button>-->

<!--                    </div>-->
<!--                </div>-->
<!--            </form>-->

<!--            <div th:if="${userListPage.hasContent() eq false}">-->
<!--                <span>Немає користувачів</span>-->
<!--            </div>-->
<!--            <div th:if="${userListPage.hasContent() eq true}">-->
<!--                  <span th:if="${searchCommand.isEmpty()}">-->
<!--                База включає: [[${userListPage.totalElements}]] користувачів-->
<!--            </span>-->
<!--                <span th:unless="${searchCommand.isEmpty()}">-->
<!--                Результат пошуку: [[${userListPage.totalElements}]] користувачів-->
<!--            </span>-->
<!--            </div>-->


<!--            <table class="table table-striped">-->
<!--                <thead>-->
<!--                <tr>-->
<!--                    <th>Логін</th>-->
<!--                    <th>Ім'я та прізвище</th>-->
<!--                    <th>Пошта</th>-->

<!--                    <th>Номер телефону</th>-->
<!--                    <th>Параметри</th>-->



<!--                </tr>-->
<!--                </thead>-->
<!--                <tbody>-->
<!--                <tr th:each="user : ${userListPage.content}">-->

<!--                    <td>-->
<!--                        [[${user.login}]]</a>-->

<!--                    </td>-->
<!--                    <td>-->

<!--                        <span > [[${user.firstName}]]</span>-->
<!--                        <span > [[${user.lastName}]]</span>-->
<!--                        </a>-->

<!--                    </td>-->

<!--                    <td>-->
<!--                        <span > [[${user.email}]]</span>-->
<!--                    </td>-->
<!--                    <td>-->
<!--                        <span > [[${user.phoneNumber}]]</span>-->
<!--                    </td>-->
<!--                    <td>-->
<!--                    <td style="align-content: center">-->
<!--                        <a class="btn btn-danger" sec:authorize="isAuthenticated()" th:href="@{/userList.html(id=${user.id})}">Видалити</a>-->
<!--                        <a class="btn btn-success" th:href="@{/editUser.html(id=${user.id})}">Редагувати</a>-->
<!--                    </td>-->
<!--                    </td>-->




<!--                </tr>-->

<!--                </tbody>-->
<!--            </table>-->
<!--            <div th:replace="shared/pagination :: pager(userList.html, ${userListPage})"></div>-->





<!--        </div>-->
<!--    </div>-->
<!--    <div class="col-sm-2 sidenav">-->

<!--        <div class="well">-->
<!--            <label style="color:darkred; margin-top: 20px;" sec:authorize="isAuthenticated()">-->
<!--                Вітаю, <span sec:authentication="name"/>!-->
<!--            </label>-->
<!--        </div>-->
<!--        <div class="well">-->
<!--            <a sec:authorize="isAuthenticated()" class="btn btn-success" href="accountDetails.html">Ваш рахунок</a>-->

<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--</div>-->




<!--</body>-->
<!--</html>-->